<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>

</head>
<body>

    <div ng-controller="mainController as mainCtrl">
        <label>Hello {{mainCtrl.Email}}</label>
        <div class="register-container" ng-controller="registerController as registerCtrl">
            <div class="register-form">
                <form name="registerForm" ng-submit="registerCtrl.register(registerForm.$valid)" novalidate>
                    <div class="form-group">
                        <label>First name</label>
                        <input type="text"
                               ng-model="registerCtrl.user.FirstName"
                               ng-required="true"
                               class="form-control"
                               name="firstNameInput"
                               placeholder="Enter firstName"
                               ng-pattern="/^[a-zA-Z]*$/">
                        <p ng-show="registerForm.firstNameInput.$error.pattern && !registerForm.firstNameInput.$pristine" class="help-block">only letters</p>

                    </div>
                    <div class="form-group">
                        <label>Last name</label>
                        <input type="text"
                               ng-model="registerCtrl.user.LastName"
                               ng-required="true"
                               class="form-control"
                               name="lastNameInput"
                               placeholder="Enter lastName"
                               ng-pattern="/^[a-zA-Z]*$/">
                        <p ng-show="registerForm.lastNameInput.$error.pattern && !registerForm.lastNameInput.$pristine" class="help-block">only letters</p>

                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password"
                               ng-model="registerCtrl.user.Password"
                               ng-required="true"
                               class="form-control"
                               name="passwordInput"
                               placeholder="Enter Password"
                               ng-minlength="5"
                               ng-maxlength="10"
                               ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{5,10}$/">
                        <p ng-show="registerForm.passwordInput.$error.pattern && !registerForm.passwordInput.$pristine" class="help-block">Password must contain at least one upper case letter, one lower case letter, and one numeric digit</p>
                        <p ng-show="registerForm.passwordInput.$error.minlength && !registerForm.passwordInput.$pristine" class="help-block">Password is too short</p>
                        <p ng-show="registerForm.passwordInput.$error.maxlength && !registerForm.passwordInput.$pristine" class="help-block">Password is too long</p>
                    </div>
                    <div class="form-group">
                        <label>Phone</label>
                        <input type="text"
                               ng-model="registerCtrl.user.PhoneNumber"
                               ng-required="true"
                               class="form-control"
                               name="phoneInput"
                               placeholder="Enter phone"
                               ng-minlength="9"
                               ng-pattern="/^[0-9]*$/">
                        <!--<p ng-show="registerForm.phoneInput.$invalid && !registerForm.phoneInput.$pristine" class="help-block">phone is required</p>-->
                        <p ng-show="registerForm.phoneInput.$error.minlength && !registerForm.phoneInput.$pristine" class="help-block">phone is too short</p>
                        <p ng-show="registerForm.phoneInput.$error.pattern && !registerForm.phoneInput.$pristine" class="help-block">only digits</p>

                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email"
                               ng-model="registerCtrl.user.Email"
                               ng-required="true"
                               class="form-control"
                               name="emailInput"
                               placeholder="Enter email">
                        <p ng-show="registerForm.emailInput.$invalid && !registerForm.emailInput.$pristine" class="help-block">email is required</p>
                    </div>
                    
                    <input type="submit"
                           class="btn btn-success btn-lg"
                           value="register"
                           ng-disabled="registerForm.$invalid">
                </form>
                <div>
                    {{registerCtrl.errorMessage}}
                </div>
            </div>

        </div>
    </div>
</body>
</html>